body { 
    background-color: rgb(35, 47, 62);
    font-family: 'Ubuntu', sans-serif ;
    
} 

nav img {
    border-radius: 5px;
}

nav li {
    font-weight: bold !important;
}

nav button {
    font-weight:bold;
}

nav li:hover {
    outline: solid ;
 border-radius: 5px ;
}

nav img:hover {
    outline: solid white;
}

.dropdown-item{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity));
    --bs-dropdown-link-hover-bg: #ffc107;
    font-weight:bold;
}

ul.dropdown-menu{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity));
}

.page-link{--bs-bg-opacity: 1;
    background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
    border: var(--bs-pagination-border-width) solid #000000;
    color: #141619;
    --bs-pagination-active-border-color: #ffffff;
    --bs-pagination-active-color: #141619;}
    
.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #343a40;
    --bs-btn-border-color: #343a40;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #343a40;
    --bs-btn-hover-border-color: #343a40;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #343a40;
    --bs-btn-active-border-color: #343a40;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #343a40;
    --bs-btn-disabled-border-color: #343a40;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;}

    /* gestisce grandezze immagini background */
.img-preview{
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button{
    display: grid;
}
.card-footer{
    text-align: start;
}